#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.index {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  row-gap: .4em;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .2em;
}

.assets {
  display: grid;
  grid-template-rows: repeat(11, 1fr);
  background-color: rgb(250, 189, 189);
}

.asset-card {
  background-color: rgba(255, 255, 255, 0.925);
  border: solid 1px grey;
  padding: .8em;
  margin-inline: .4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avail-selector {
  appearance: none;
  background-color: #02bafe;
  color: white;
  border-radius: 3.2em;
  height: 2em;
  margin-left: 0;
  width: 8em;
  text-align: center;
  border: none;
}

.fa-trash {
  color: rgb(250, 66, 66);
}

.hide {
  display: none;
}

.add-asset-form {
  display: flex;
  flex-direction: column;

}